Repository PMC-Unga-Marines/Unga-Marines, pull requests merged in 2025-01, with the labels that each got.

#886 Updates tgs commands returning strings instead of `tgs_message_content`
  code/modules/admin/verbs/chat_commands.dm
Labels: Code Improvement

#881 Радиопак дает возможность говорить в пещерах.
  code/game/objects/items/radio/radio.dm
Labels: Feature, Stale

#889 Deletes shitloop of barricades ex_act.
  code/game/objects/structures/barricade.dm
Labels: Removal

#751 Ventcrawl port
  code/__DEFINES/atmospherics.dm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/spatial_gridmap.dm
  code/__HELPERS/_lists.dm
  code/_onclick/hud/rendering/plane_master.dm
  code/_onclick/ventcrawl.dm
  code/controllers/subsystem/spatial_gridmap.dm
  code/game/atoms/atom_movable.dm
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
  code/modules/atmospherics/machinery/pipes/pipes.dm
  code/modules/mob/living/carbon/xenomorph/castes/hunter/abilities_hunter.dm
  code/modules/mob/living/carbon/xenomorph/castes/panther/abilities_panther.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/login.dm
  code/modules/spatial_grid/cell_tracker.dm
  tgmc.dme
Labels: Port, Code Improvement, Test Merge Candidate

#776 Implants
  code/__DEFINES/dcs/helpers.dm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/implants.dm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/keybind.dm
  code/__DEFINES/loadout.dm
  code/__DEFINES/skills.dm
  code/__HELPERS/mobs.dm
  code/datums/components/_component.dm
  code/datums/components/after_image.dm
  code/datums/components/jump.dm
  code/datums/elements/shrapnel_removal.dm
  code/datums/jobs/job/other.dm
  code/datums/keybinding/cyberware.dm
  code/datums/skills.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/game/objects/items.dm
  code/game/objects/items/embedding.dm
  code/game/objects/items/implants/implant.dm
  code/game/objects/items/implants/implant_chem.dm
  code/game/objects/items/implants/implant_cloak.dm
  code/game/objects/items/implants/implant_neurostim.dm
  code/game/objects/items/implants/implantcase.dm
  code/game/objects/items/implants/implanter.dm
  code/game/objects/items/implants/sandevistan.dm
  code/game/objects/items/implants/skill_implants/implant_code.dm
  code/game/objects/items/implants/skill_implants/implant_skill.dm
  code/game/objects/items/implants/skill_implants/implantator_code.dm
  code/game/objects/items/implants/skill_implants/implantator_skill.dm
  code/game/objects/items/pamphlets.dm
  code/game/objects/items/scanners.dm
  code/game/objects/items/weapons/blades.dm
  code/game/objects/machinery/autodoc.dm
  code/game/objects/machinery/vending/marine_vending.dm
  code/modules/mob/living/carbon/xenomorph/castes/bull/abilities_bull.dm
  code/modules/mob/living/carbon/xenomorph/castes/crusher/abilities_crusher.dm
  code/modules/mob/living/carbon/xenomorph/castes/hunter/abilities_hunter.dm
  code/modules/mob/living/carbon/xenomorph/castes/panther/abilities_panther.dm
  code/modules/mob/living/carbon/xenomorph/castes/runner/abilities_runner.dm
  code/modules/mob/living/living_health_procs.dm
  code/modules/mob/mob_helpers.dm
  code/modules/reqs/supplypacks/medical.dm
  code/modules/surgery/implant.dm
  code/modules/unit_tests/implanting.dm
  code/modules/vehicles/mecha/equipment/weapons/greyscale_weapons.dm
  icons/obj/items/implants.dmi
  sound/effects/spinal_implant_off.ogg
  sound/effects/spinal_implant_on.ogg
  tgmc.dme
  tgui/packages/tgui/interfaces/MarineSelector.jsx
  tgui/packages/tgui/interfaces/PlayerPreferences/KeybindSettings.tsx
Labels: Feature, Test Merge Candidate

#890 Adds flipped icon states for black tables. Cleans up table code.
  code/game/objects/items/frames/rack.dm
  code/game/objects/items/frames/table.dm
  code/game/objects/structures/rack.dm
  code/game/objects/structures/table.dm
  icons/obj/smooth_objects/black_table.dmi
  tgmc.dme
Labels: Code Improvement, Sprites

#851 Changes prices in robot vendor. Reorganizes `loadout.dm`.
  code/__DEFINES/loadout.dm
  code/__DEFINES/loadout/_loadout.dm
  code/__DEFINES/loadout/clothes/corpsman.dm
  code/__DEFINES/loadout/clothes/engineer.dm
  code/__DEFINES/loadout/clothes/field_commander.dm
  code/__DEFINES/loadout/clothes/leader.dm
  code/__DEFINES/loadout/clothes/marine.dm
  code/__DEFINES/loadout/clothes/robot.dm
  code/__DEFINES/loadout/clothes/smartgunner.dm
  code/__DEFINES/loadout/clothes/synthetic.dm
  code/__DEFINES/loadout/gear/corpsman.dm
  code/__DEFINES/loadout/gear/engineer.dm
  code/__DEFINES/loadout/gear/field_commander.dm
  code/__DEFINES/loadout/gear/leader.dm
  code/__DEFINES/loadout/gear/marine.dm
  code/__DEFINES/loadout/gear/robot.dm
  code/__DEFINES/loadout/gear/smartgunner.dm
  code/__DEFINES/loadout/gear/synthetic.dm
  code/datums/quick_load/beginner/robot.dm
  html/changelogs/archive/2024-12.yml
  tgmc.dme
Labels: Refactor, Balance
