Repository PMC-Unga-Marines/Unga-Marines, pull requests merged in 2025-10, with the labels that each got.

#1148 Fixes crash cinematic. Makes cleanup time for cinematics 15 seconds.
  code/datums/cinematic.dm
  code/datums/gamemodes/infestation.dm
Labels: Fix, QoL

#1140 Fixes failing checks.
  .github/CODEOWNERS
  .github/workflows/ci_suite.yml
  _maps/map_files/Talos/TGS_Talos.dmm
  _maps/map_files/oscar_outpost/oscar_outpost.dmm
  _maps/map_files/slumbridge/slumbridge.dmm
  _maps/modularmaps/big_red/bigredetavar2.dmm
  _maps/predator/huntership.dmm
  _maps/shuttles/minidropship_barge.dmm
  _maps/shuttles/minidropship_voidraider.dmm
  _maps/shuttles/tgs_canterbury.dmm
  code/__DEFINES/sound.dm
  code/_onclick/hud/rendering/_plane_master.dm
  code/datums/looping_sounds/tank.dm
  code/datums/outfits/icc.dm
  code/datums/outfits/som_ert.dm
  code/datums/outfits/upp.dm
  code/datums/outfits/upp_commando.dm
  code/datums/outfits/vsd.dm
  code/game/objects/machinery/OpTable.dm
  code/game/objects/machinery/adv_med.dm
  code/game/objects/machinery/camera/camera.dm
  code/game/objects/machinery/cic_maptable.dm
  code/game/objects/machinery/sleeper.dm
  code/game/objects/machinery/vending/vending_types.dm
  code/game/sound.dm
  code/modules/atmospherics/components/unary_devices/cryo.dm
  code/modules/atmospherics/pipes/layermanifold.dm
  code/modules/lighting/lighting_mask/dynamic_lighting_source.dm
  code/modules/lighting/lighting_mask/shadow_calculator.dm
  code/modules/mob/living/carbon/xenomorph/castes/larva/castedatum_larva.dm
  code/modules/predator/yautja/machines.dm
  code/modules/projectiles/guns/rifles.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/remote_fob/remote_fob_actions_misc.dm
  code/modules/remote_fob/remote_fob_computer.dm
  code/modules/remote_fob/remote_fob_fobdrone.dm
  code/modules/vehicles/mecha/greyscale/greyscale_limbs.dm
  icons/mob/actions.dmi
  icons/obj/machines/fob.dmi
  icons/obj/machines/vending.dmi
  icons/obj/machines/yautja_machines.dmi
  icons/obj/monitors.dmi
  tgmc.dme
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
  tgui/packages/tgui/package.json
  tgui/public/tgui.html
  tgui/yarn.lock
  tools/ci/download_byond.sh
  tools/ci/install_byond.sh
Labels: Github

#1152 Ports a few of pr's.
  code/__DEFINES/__game.dm
  code/__DEFINES/directional.dm
  code/__DEFINES/machines.dm
  code/__DEFINES/misc.dm
  code/game/objects/effects/aliens.dm
  code/game/objects/effects/overlays.dm
  code/game/objects/machinery/fire_alarm.dm
  code/game/objects/machinery/overwatch/military.dm
  code/game/objects/structures/lattice.dm
  code/modules/ai/ai_behaviors/human_mobs/helper_procs.dm
  code/modules/lighting/lighting_mask/lighting_mask.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/carbon/xenomorph/castes/behemoth/abilities_behemoth.dm
  code/modules/mob/living/carbon/xenomorph/castes/warlock/abilities_warlock.dm
  code/modules/projectiles/guns/_shared_ammo_objects.dm
  code/modules/shuttle/ripple.dm
  icons/obj/smooth_objects/catwalk.dmi
  tgmc.dme
  tgui/packages/tgui-panel/chat/renderer.jsx
Labels: Fix, Port, Code Improvement, QoL, Feature

#1159 Remove toxin spit at the praetorian
  code/modules/mob/living/carbon/xenomorph/castes/praetorian/castedatum_praetorian.dm
Labels: Removal, Xeno, Balance

#1157 Fire alarms now set the lights red, instead of changing icon_state of the area. Adds COMSIG_AREA_FIRE_ALARM_SET.
  code/__DEFINES/area.dm
  code/__DEFINES/colors.dm
  code/__DEFINES/dcs/signals/signals.dm
  code/_onclick/ai.dm
  code/game/area/area.dm
  code/game/objects/machinery/doors/firedoor.dm
  code/game/objects/machinery/fire_alarm.dm
  code/modules/power/apc/apc.dm
  code/modules/power/lighting/lighting.dm
  icons/turf/areas.dmi
Labels: Code Improvement, Refactor, QoL, Sprites

#1166 Replaces some `New()` and empty `Initialize()` with `Initialize(mapload, ...)`
  code/game/objects/effects/decals/contraband.dm
  code/game/objects/effects/decals/crayon.dm
  code/game/objects/effects/landmarks/landmarks.dm
  code/game/objects/effects/landmarks/marine_spawns.dm
  code/game/objects/effects/temporary_visuals/temporary_visual.dm
  code/game/objects/items/firesupport_binoculars.dm
  code/game/objects/items/weapons/harvester.dm
  code/game/objects/machinery/doors/airlock.dm
  code/game/objects/machinery/floodlight.dm
  code/game/objects/machinery/portable_reagent_tank.dm
  code/game/objects/machinery/surgery_table.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/infestation_tower.dm
  code/game/objects/structures/xeno/growth.dm
  code/game/turfs/closed.dm
  code/game/turfs/plating.dm
  code/game/turfs/walls/wall_types.dm
  code/modules/ai/presets/xeno_presets.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/meson.dm
  code/modules/clothing/glasses/night.dm
  code/modules/clothing/glasses/thermal.dm
  code/modules/mob/living/carbon/xenomorph/castes/panther/panther.dm
  code/modules/predator/thrall/items.dm
  code/modules/predator/yautja/items.dm
  code/modules/predator/yautja/machines.dm
  code/modules/predator/yautja/mask.dm
  code/modules/predator/yautja/weapons/one_handed.dm
  code/modules/projectiles/magazines/misc.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/shuttle/marine_dropship.dm
Labels: Code Improvement
